.game-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}
.game-card{
  border: 5px solid var(--red);
  margin: 1em;
  height: 100px;
  background-color: var(--blue);
}
.back{
  background-color: var(--figth);
}

.animation{
  animation-name: pokemon;
  animation-duration: 2s;
}

/* animation */
@keyframes pokemon {
  0% {
    transform: scale(1);
  }
  5% {
    transform: rotate(5deg);
  }
  10% {
    transform: scale(1.1);
  }
  15% {
    transform: rotate(-5deg);
  }
  20% {
    transform: scale(1);
  }
  25% {
    transform: rotate(5deg);
  }
  30% {
    transform: scale(1.1);
  }
  35% {
    transform: rotate(-5deg);
  }
  40% {
    transform: scale(1);
  }
  45% {
    transform: rotate(5deg);
  }
  50% {
    transform: scale(1.1);
  }
  55% {
    transform: rotate(-5deg);
  }
  60% {
    transform: scale(1);
  }
  65% {
    transform: rotate(5deg);
  }
  70% {
    transform: scale(1.1);
  }
  75% {
    transform: rotate(-5deg);
  }
  80% {
    transform: scale(1);
  }
  85% {
    transform: rotate(5deg);
  }
  90% {
    transform: scale(1.1);
  }
  95% {
    transform: rotate(-5deg);
  }
  100% {
    transform: scale(1);
  }
}
