.poke-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  position: fixed;
  padding: 1em;
  background-color: var(--ligthBlue);
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
}
.poke-container--close{
  display: flex;
  justify-content: flex-end;
}
.poke-close {
  cursor: pointer;
  font-size: 2.5em;
}
.poke-detail__name {
  font-size: 1.70em;
}
.poke-detail__info {
  font-size: 0.5em;
}

.poke-detail__img {
  width: 70%;
}
.poke-detail__img {
  width: 100%;
}
