.poke-list{
  list-style-type: none;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.poke-list__item{
  border: 0.25em solid var(--gray);
  background-color: var(--blue);
  align-items: center;
  margin: 0.75em;
  box-shadow: 2px 2px 10px var(--black);
}


.poke-list__name{
  text-decoration: none;
  color: var(--white);
  background-color: var(--blue);
  padding: 0.25em;
  font-size: 0.60em;
  border: none;
}
.poke-list__item .poke-list__name:hover{
  color: var(--black);
}
.poke-list__number{
  color: var(--white);
}
.poke-list__img{
  width: 2.5em;
}
