
.footer-container{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: space-between;
  text-align: center;
  padding: 1em;
  background-color: var(--yellow);
  border-top: 5px solid var(--red);
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer__author-name{
  font-size: 0.70em;
  list-style: none;
  text-decoration: none;
  color: var(--red);
  cursor: pointer;
}
