/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
:root {
  --blue: #388fdd;
  --ligthBlue: #81c0dd;
  --yellow: rgb(250, 205, 118);
  --green: rgb(66, 180, 167);
  --darkGreen: #206960;
  --red: rgb(253, 85, 3);
  --purple: #6e57af;
  --white: #f8f8f8;
  --gray: #636363;
  --black: #000000;
  --white: #f8f8f8;
  --downy: #76d7c4;
  --black: #000000;
  --gray: #60605b;
  --body-bg: lightblue;
  --body-color: black;
  --primary: #206960;
  --secondary: #45a49a;
  --danger: red;
  --btn: #7258ab;
/* types */
  --bug: #88960d;
  --dark: #3c2d23;
  --dragon: #43328f;
  --electric: #e79302;
  --fairy: #e08ee0;
  --figth: #5f2311;
  --fire: #c72100;
  --flying: #5e74d4;
  --ghost: #4a4a98;
  --grass: #277801;
  --ground: #ad8c32;
  --ice: #6dd3f5;
  --normal: #afa796;
  --poison: #6d2470;
  --psychic: #dd3165;
  --rock: #9e853d;
  --steel: #8e8e9e;
  --water: #0c67c2;
}

@font-face {
  font-family: gameboy;
  src: url(assets/font/gameboy.ttf);
}

* {
  font-family: "gameboy";
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  color: var(--white);
  background-color: var(--ligthBlue);
}

.disabled {
  pointer-events: none;
}

